<h1>Examples</h1>

Change <code>/etc/apt/sources.list</code> to one of these:

<h2>Bullseye distribution</h2>

<pre>
deb  https://${FQDN}/debian          bullseye            main
deb  https://${FQDN}/debian          bullseye-updates    main
deb-src https://${FQDN}/debian-security bullseye-security    main
deb  https://${FQDN}/debian           bullseye-backports  main

deb [arch=amd64] https://${FQDN}/docker bullseye stable
deb [arch=amd64] https://${FQDN}/gitea gitea main
deb [arch=amd64] https://${FQDN}/postgresql bullseye-pgdg main
</pre>

<h2>Buster distribution</h2>

<pre>
deb  https://${FQDN}/debian          buster            main
deb  https://${FQDN}/debian          buster-updates    main
deb-src https://${FQDN}/debian-security buster/updates    main
deb  https://${FQDN}/debian           buster-backports  main

deb [arch=amd64] https://${FQDN}/docker buster stable
deb [arch=amd64] https://${FQDN}/gitea gitea main
deb [arch=amd64] https://${FQDN}/postgresql buster-pgdg main
</pre>

<h1>Repositories</h1>

<code>stable</code> and <code>oldstable</code> distributions are available if applicable.

<h2>debian</h2>
<p>Supported architectures:</p>
<ul>
<li><code>amd64</code></li>
<li><code>all</code></li>
<li><code>any</code></li>
</ul>

<h2>debian-security</h2>
<p>Supported architectures:</p>
<ul>
<li><code>amd64</code></li>
<li><code>all</code></li>
<li><code>any</code></li>
</ul>

<h2>docker</h2>
<p>Supported architectures:</p>
<ul>
<li><code>amd64</code></li>
</ul>

<h2>gitea</h2>
<p>Supported architectures:</p>
<ul>
<li><code>amd64</code></li>
</ul>

<h2>postgresql</h2>
<p>Supported architectures:</p>
<ul>
<li><code>amd64</code></li>
</ul>
