@media (min-width:540px) {
 .container,
 .container-sm {
  max-width:100%;
 }
}
@media (min-width:720px) {
 .container,
 .container-md,
 .container-sm {
  max-width:100%;
 }
}
@media (min-width:960px) {
 .container,
 .container-lg,
 .container-md,
 .container-sm {
 max-width:100%;
 }
}
@media (min-width:1200px) {
 .container,
 .container-lg,
 .container-md,
 .container-sm,
 .container-xl {
  max-width:100%;
 }
}
